* {
    box-sizing: border-box;
}

/*
Set web page background.
Set border size, style and color.
*/
.container{
    background-color: rgb(4, 65, 63);
    border: 2px solid black;
}

/*
Set text color of header and section titles.
*/
h1{
    color: white;
}

/*
Background color set to navy.
Added size, style and color of navigation bar.
*/
nav{
    background-color: rgb(51, 81, 110);
    border: 2px solid maroon;
}

/*
Set text color of h2.
Set width and height of h2 box.
*/
h2{
    color: aliceblue;;
    width: fit-content;
    height: fit-content;
    border: 3px solid black;
}

h3{
    color: black;;
    width: fit-content;
    height: auto;
    border: 3px double black; 
}

p{
    color: aliceblue;
    text-align: center;
}

#project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    width: 25%;
    height: auto;
    background-color: rgb(51, 81, 110);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    border: 3px solid black;
    justify-content: center;
}

.project-title{
    width: 100%;
    color: aliceblue;
    text-align: center;
}

/*
Sets section to wrap text.
*/
section{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 100%;
    height: auto;
}

/*
Created an unordered list and removed list formatting.
Set margin to 0 and padding to 2.
Creates a scroll bar if nav bar does not fit on screen.
*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 2;
    overflow: auto;
}

li{
    float: left;
}

/*
Navigation bar titles set as block elements.
Set width of container.
Set text color of nav bar titles.
Added padding.
No text decorations.
Aligned navigation bar titles to center of container.
*/
li a{
    display: block;
    width: 200px;
    color:aliceblue;
    padding: 1px;
    text-decoration: none;
    text-align: center;
}

/*
When viewer hovers over nav bar titles, these elements will be highlighted.
Background color of selected nav bar title changes to brown.
*/
li a:hover{
    width: 220px;
    background-color:brown;
    color:antiquewhite;
}

/*
Set font-size of text to 18px.
Background color set to slategray.
Added size, style and color to contact bar.
*/
footer{
    font-size: 18px;
    border: 2px solid black;
}

#contact-display{
    background-color: rgb(51, 81, 110);
    border: 2px solid maroon;
}
