* {
    box-sizing: border-box;
}
/*
Set web page background.
Set width and height of background.
Set border size, style and color.
*/
.container{
    background-color: lightseagreen;
    border: 2px solid black;
}

/*
Set text color of header and section titles.
Set background color header and section titles.
Set width of header and section title box.
Set border size, style and color of header and section titles.
*/
h1{
    color: black;
    background-color: blanchedalmond;
    width: 225px;
    border: 3px double black;
}

/*
Set text color of h2.
Set background color h2.
Set width and height of h2 box.
Set border size, style and color of header and section titles.
*/
h2{
    color: black;
    background-color: blanchedalmond;
    width: 99.9%;
    height: 750px;
    border: 3px double black; 
}

h3{
    color: black;
    background-color: blanchedalmond;
    border: 3px double black; 
}

/*
Sets section to wrap text.
Gave sidebar a padding of 2px.
*/
section{
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

/*
Created an unordered list and removed list formatting.
Set margin to 0 and padding to 2.
Creates a scroll bar if nav bar does not fit on screen.
*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 2;
    overflow: auto;
}

li{
    float: left;
}

/*
Navigation bar titles set as block elements.
Set width of container.
Set text color of nav bar titles.
Added padding.
No text decorations.
Aligned navigation bar titles to center of container.
*/
li a{
    display: block;
    width: 200px;
    color:aliceblue;
    padding: 1px;
    text-decoration: none;
    text-align: center;
}

/*
When viewer hovers over nav bar titles, these elements will be highlighted.
Background color of selected nav bar title changes to brown.
*/
li a:hover{
    width: 220px;
    background-color:brown;
    color:antiquewhite;
}

/*
Flexbox property added to navigation bar.
Added space between each nav bar section title.
Background color set to navy.
Added size, style and color of navigation bar.
*/
#navbar{
    display: flex;
    justify-content: space-between;
    background-color: navy;
    border: 2px solid maroon;
}

/*
Set font-size of text to 18px.
Flexbox property added to contact bar.
Added space between each contact element.
Background color set to slategray.
Added size, style and color to contact bar.
*/
#contact-display{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    background-color: slategray;
    border: 2px solid black;
}